<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://SQL8002.site4now.net;database=db_a92a77_testdb</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">db_a92a77_testdb_admin</property>
        <property name="connection.password">bozic901</property>
        <mapping class="Models.Note"/>
    </session-factory>
</hibernate-configuration>